<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="keywords" content="达分期、消费金融服务平台、教育分期、家居家电分期、低至0利息0首付">-->
    <!--<meta name="description" content="达分期是达飞纷期推出的消费金融服务平台，专注为中国家庭用户提供“家·生活”消费金融服务，涵盖亲子教育、家居家电等家庭领域，让幸福“家·生活”走进中国亿万家庭。">-->
    <link rel="shortcut icon" href="../../static/img/index_need/dfq_logo.ico">
    <link href=" ../../static/css/index_need/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/index_need/myclass.css" rel="stylesheet">
    <link href="../../static/css/index_need/media.css" rel="stylesheet">
    <link href="../../static/css/product/in_out_product.css" rel="stylesheet">
    <link href="../../static/css/account/personal_center.css" rel="stylesheet">
    <script src="../../static/js/index_need/jquery.js"></script>
    <script src="../../static/js/index_need/common.js"></script>
    <title>达分期</title>
    <style>
        html, body {
            position: relative;
            height: 100%;
        }

        a {
            color: black;
        }

        .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 20px 0;
        }

        @media screen and (max-width: 1140px) {
            .main-footer1 {
                display: none;
            }
        }

        .pic {
            display: inline-block;
            width: 40px;
            height: 40px;
        }

        .pic > a {
            display: block;
        }

        .pic > a > img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
            cursor: pointer;
        }

        img {
            vertical-align: middle;
            border-style: none;
        }

        ul, img {
            list-style: none;
            border: 0;
            font-weight: normal;
            outline: none;
            resize: none;
            margin: 0;
            padding: 0;
        }

        .two {
            width: 100px;
            position: absolute;
            display: block;
            visibility: hidden;
            right: 0px;
            text-align: center;
            z-index: 99;
            top: 30px;
        }

        .two > em {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: 21px;
            height: 8px;
            background: url(https://www-cdn-res.shiguangkey.com/dist/static/san.bd42d282.png) no-repeat;
        }

        .two > ul {
            padding: 10px;
            background: #fff;
            -webkit-box-shadow: 0 2px 4px #d9dfe9;
            box-shadow: 0 2px 4px #d9dfe9;
            border: 1px solid #e4e5e8;
            text-align: center;
            position: relative;
            top: -22px;
        }

        li > a {
            text-decoration: none;
            outline: none;
            color: black;
        }

        .two li > a:hover {
            color: blue;
        }

        .two li {
            height: 30px;
        }

        #head_pic {
            position: fixed;
            right: 30px;
        }
    </style>
</head>
<body>
<header class="hd-bgc hd-bgcpc header" style="position: fixed;width: 100%;background: #3D3D3D;top: 0;z-index: 100;">
    <div class="clearfix" style="width: 1200px;margin: 0 auto;">
        <div class="pull-left" style="padding: 0 50px 0 0;">
            <img src="../../static/img/index_need/dfqlogo.png" height="50px" width="100px" id="indexicon" alt="图标">
        </div>
        <div class="pull-left">
            <ul id="menu_list">
                <li class="hd_nav-item"><a href="../main/index.html" class="fontclass font_color-3">首页</a>
                    <div class="onmoseover"></div>
                </li>
                <li class="hd_nav-item"><a href="#" class='font_color-1 bordbttom'>站内产品</a>
                    <div class="onmoseoveractive"></div>
                </li>
                <li class="hd_nav-item"><a href="#" class='fontclass font_color-3'>站外产品</a>
                    <div class="onmoseover"></div>
                </li>
                <li class="hd_nav-item"><a href="#" class='fontclass font_color-3'>关于达分期</a>
                    <div class="onmoseover"></div>
                </li>
                <li class="hd_nav-item"><a href="#" class='fontclass font_color-3'>APP下载</a>
                    <div class="onmoseover"></div>
                </li>
            </ul>
        </div>
        <div class="pull-right telephone font_color-3">
            <img src="../../static/img/index_need/telephonewhite.png" width="20px" height="14px"
                 style="padding-right: 5px;" id="telephone">400-888-8888
        </div>
        <div class="pic">
            <a href="#" id="head_pic">
                <img th:title="${session.account?.getUsename()}?${session.account?.getUsename()}:'用户头像'"
                     th:src="${session.account?.getAvatar()}?${session.account?.getAvatar}:'../../static/img/account/common_head_pic.jpg'"
                     alt="头像" style="position: relative;">
            </a>
            <div class="two" id="head_pic_list" th:if="${session.account} eq null">
                <em class="member-box"></em>
                <ul>
                    <li><a href="#">登录</a> \ <a href="#">注册</a></li>

                </ul>
            </div>
            <div class="two" id="head_pic_list" th:if="${session.account} ne null">
                <em class="member-box"></em>
                <ul>
                    <li><a href="../account/personal_center.html">个人中心</a></li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的账单</a></li>
                    <li><a href="#">帮助</a></li>
                    <li><a href="#">安全中心</a></li>
                    <li><a href="#">退出登录</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Swiper -->
<div style="margin-top: 70px">
    <div class="search_div">
        <div style="display: inline-block;width: 380px;text-align: center;vertical-align: top">
            <img src="../../static/img/product/cpys02.png" width="50px" height="50px"
                 style="vertical-align: top;margin-top: 5px">
            <span style="font-size: 40px;font-weight: 900">站内商品</span>
        </div>
        <div style="display: inline-block;vertical-align: top">
            <form action="#" method="post">
                <img src="../../static/img/product/search_ico.jpg" width="28px" height="28px">
                <input class="_1YMqD" type="text" placeholder="输入关键词搜索产品">
                <input type="submit" class="submit_btn" value="搜索">
                <!--<a class="cart_a _2uLFV" style="margin-left: 230px">购物车</a>-->
            </form>
            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机&nbsp;&nbsp;</a><a>裤子&nbsp;&nbsp;</a><a>电脑&nbsp;&nbsp;</a>
            <a>衣服&nbsp;&nbsp;</a><a>学习用品&nbsp;&nbsp;</a><a>帽子&nbsp;&nbsp;</a><a>零食&nbsp;&nbsp;</a>
        </div>
    </div>
    <div style="padding-left: 300px">
        分类:<a>&nbsp;&nbsp;&nbsp;&nbsp;居家&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;餐厨&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;饮食&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;配件&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;服装&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;婴童&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;杂货&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;洗护&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;志趣&nbsp;&nbsp;</a>
        <br>
        筛选:<a>&nbsp;&nbsp;&nbsp;&nbsp;最新&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;最便宜&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;可分期&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;免息&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;优惠&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;免邮&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;买一送一&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;折扣&nbsp;&nbsp;</a>
        <a>&nbsp;&nbsp;减息&nbsp;&nbsp;</a>
    </div>
    <span style="margin-left: 30px;font-weight: 700;font-size: 30px" id="DBZT">为你推荐</span>
    <div>
        <div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/8ab2d3287af0cefa2cc539e40600621d.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/578ffec952eb25ff072d8ea1b676bfd2.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/8fe022126a2789d970f82853be13a5e6.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/583812520c68ca7995b6fac4c67ae2c7.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/2b537159f0f789034bf8c4b339c43750.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/86f57132793d3e3c924a7ba529849288.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/88dc5d80c6f84102f003ecd69c86e1cf.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/e84f2e3b3d39cfdc8af5c3954a877aae.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/1d1ab099dc0e254c15e57302e78e200b.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/8b9328496990357033d4259fda250679.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/49e26f00ca4d0ce00f9960d22c936738.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/715899c65c023bb4973fb0466a5b79d6.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/e0b928ada728c140f6965bb41f47407b.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/c39d54c06a71b4b61b6092a0d31f2335.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
            <div class="inline_div">
                <a><img src="http://yanxuan.nosdn.127.net/bf8faee3b27b480f63b70056597b626d.png">
                    <div style="padding-left: 20px">
                        <b style="font-size: 20px;color: red">￥100.0</b>
                        <br>
                        <span>超爽双人床</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="page_div">
        <a>1&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a>2&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a>3&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a>4&nbsp;&nbsp;&nbsp;&nbsp;</a>......
        <a>&nbsp;&nbsp;&nbsp;&nbsp;下页</a>
        <a>&nbsp;&nbsp;&nbsp;&nbsp;末页</a>
    </div>
    <div class="right_bar">
        <a href="#top"><img src="../../static/img/product/arrow_up.png" title="回顶部" width="30px" height="30px"></a>
        <br><br>
        <a><img src="../../static/img/product/star.png" title="收藏" width="30px" height="30px"></a>
        <br><br>
        <a><span style="color: white;font-size: 30px;">￥</span></a>
        <br><br>
        <a><img src="../../static/img/product/cart.png" title="购物车" width="32px" height="32px"></a>
    </div>
</div>
<footer class="main-footer main-footer1" style="position: inherit;left: 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-l">
                <img src="../../static/img/index_need/dfq_logo03.png">
            </div>

            <div class="col-sm-6 text-l">
                <div class="font_color-4 ">
                    <p class="font-size-3">友情链接： <a href="#" target="_blank">铁道集团</a> | <a
                            href="#" target="_blank">铁道云贷</a> | <a href="#" target="_blank">铁道金控</a> | <a
                            href="#" target="_blank">铁道商城</a></p>
                    <p class="font-size-3 font_color-5" style="padding-top: 6px;">办公地址：长沙市天心区铁道学院二综203</p>
                    <p class="font-size-3 font_color-5">服务热线：400-888-8888</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="clearfix font_color-5 font-size-6 text-c" style="padding-bottom: 20px;">
                    <div class="pull-right">
                        <img src="../../static/img/index_need/QRcode.png">
                        <p>达分期服务号</p>
                    </div>
                    <div class="pull-right" style="padding-right: 30px;">
                        <img src="../../static/img/index_need/QRcode.png">
                        <p>达分期订阅号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>京ICP备190829号-1 Ccpyright@2019 铁道软件商务咨询（长沙）有限公司 版权所有</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    var head_pic = document.getElementById("head_pic");
    var head_pic_list = document.getElementById("head_pic_list");
    head_pic.onmouseover = function () {
        document.getElementsByClassName("two")[0].style.visibility = "visible";
    };
    head_pic_list.onmouseleave = function () {
        document.getElementsByClassName("two")[0].style.visibility = "hidden";
    }

    $('.inline_div').hover(function () {
        this.style.borderColor = "black";
    })
    
    $('.inline_div').mouseleave(function () {
        this.style.borderColor = "#d6d6d6";
    })
</script>
</body>
</html>
