<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索商品</title>
    <link rel="shortcut icon" href="/img/index_need/dfq_logo.ico">
    <style>
        a {
            /*display: inline-block;*/
            /*border: 5px solid black;*/
            /*font-size: 26px;*/
            /*padding: 50px;*/
            text-decoration: none;
            color: black;
            margin: 5px;
            /*border-radius: 10px;*/
        }
    </style>
</head>
<body>
<h1><img src="/img/product/cpys02.png" width="50px" height="50px" style="vertical-align: bottom">
    达分期--<a href="/admin">管理中心</a>--搜索商品
</h1>
<div style="width: 100%;border: 2px solid black"></div>
<br>
<br> <br>
<br> <br>
<br>
<div style="text-align: center">
 <form action="/admin/goods/list/" method="post">
     <input type="text" name="search" style="height: 35px;width: 300px">
     <input type="submit" value="搜索商品" style="height: 40px;font-size: 24px;vertical-align: top">
 </form>
</div>
</body>
</html>