.order_list, .bill_list {
    border: 1px solid #e4e5e8;
    width: 960px;
    height: 100px;
    margin-top: 20px;
    padding: 15px;
}

.order_list_textcontent {
    height: 70px;
    width: 800px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin-left: 10px;
}

.bill_list_textcontent {
    height: 70px;
    width: 750px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin-left: 10px;
}

.bill_price {
    height: 70px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin-left: 10px;
}

.sdad {
    margin-top: 20px
}

.ldiv {
    display: inline-block;
    width: 300px;
    height: 300px;
    vertical-align: top
}

.rdiv {
    display: inline-block;
    margin-left: 20px;
    width: 400px;
    height: 300px;
    vertical-align: top
}