.order_list{
    border: 1px solid #e4e5e8;
    width: 960px;
    height: 100px;
    margin-top: 20px;
    padding: 15px;
}

.order_list_textcontent{
    height: 70px;
    width: 800px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin-left: 10px;
}