<div class="_1Zcg9">
    <div class="_2u4ro">
        <div>
            <table cellspacing="15px" class="_319EJ">
                <tbody>

                <tr>
                    <td><span>昵称：</span><i>*</i></td>
                    <td>
                        <input type="text" class="_1YMqD"
                               placeholder="昵称长度2-15个字，可以是汉字、字母、'·'号或数字"
                               value="16期-来坛天子笑" name="account_name">
                    </td>
                </tr>
                <tr>
                    <td>头像：</td>
                    <td>
                        <div>
                            <div class="dhuTH">
                                <img src="https://res-static.shiguangkey.com/file/udb/user/20190823/18/20190823185731585463229.jpg"
                                     alt="头像">
                            </div>
                            <div class="_3-8YK">
                                <div style="margin-bottom: 20px;">
                                    支持jpg、gif、png或bmp格式的图片，小于5M
                                </div>
                                <div>
                                    <label for="image-clip-upload-input" class="XqBc3">修改头像
                                        <input type="file" id="image-clip-upload-input"
                                               name="pic_file"
                                               accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td>
                        <div>
                            <label class="_2YvKE" for="male">
                                <input type="radio" name="infoSexRadio"
                                       id="male" value="1">&nbsp;男
                            </label>
                            <label class="_2YvKE" for="female">
                                <input type="radio" name="infoSexRadio"
                                       id="female" value="0">&nbsp; 女
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>会员等级：</td>
                    <td>
                        <span style="float: left; width: 200px; line-height: 2;"
                        th:text="${account.vip}">高级会员</span>
                    </td>
                </tr>
                <tr>
                    <td>常用邮箱：</td>
                    <td>
                        <input type="email" class="_3lIvW" name="email" title="请输入邮箱">
                    </td>
                </tr>
                <tr>
                    <td>手机号码：</td>
                    <td>
                        <span style="float: left; width: 200px; line-height: 2;"
                         th:text="${account.phone}">153xxxxx070</span>
                    </td>
                </tr>
                <tr>
                    <td>生日：</td>
                    <td>
                        <input title="点击选择日期" placeholder="选择日期" class="_2AmVs"
                               type="date" name="birthday">
                        <p class="_1dh-i"></p>
                    </td>
                </tr>
                <tr>
                    <td>个性签名：</td>
                    <td>
                        <textarea maxlength="20" class="_2uDW_"
                                  placeholder="请填写签名，20个字内">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>

                    <td>
                        <a class="_2uLFV" onclick="save_info()">保存设置</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <script>
                function save_info() {
                    var formData = new FormData();
                    formData.append("name", document.getElementsByName("account_name")[0].value);
                    formData.append("pic", document.getElementsByName("pic_file")[0].files[0]);
                    if (document.getElementsByName("infoSexRadio")[0].checked)
                        formData.append("gender", "male");
                    else
                        formData.append("gender", "female");
                    formData.append("email", document.getElementsByName("email")[0].value);
                    formData.append("birthady", document.getElementsByName("birthday")[0].value)
                    $.ajax({
                        url: '#',
                        type: 'post',
                        cache: false,
                        data: formData,
                        success: function (data) {
                            alert("保存成功！");
                        }
                    })
                }
            </script>
        </div>
    </div>
</div>