<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.davinci.persistence.AccountDAO">

  <select id="getAccountByMobile" parameterType="java.lang.String" resultType="Account">
    SELECT * FROM da_user WHERE mobile=#{mobile}
  </select>

  <update id="updateAvatarById"  parameterType="Account">
    UPDATE da_user SET username=#{username},gender=#{gender},email=#{email},birthday=#{birthday},avatar=#{avatar} WHERE id=#{id}
  </update>

  <insert id="insertAccount" parameterType="Account" >
        INSERT into da_user(username,password,gender,last_login_ip,mobile,avatar,status,add_time,update_time)
      VALUES(#{username},#{password},#{gender},#{last_login_ip},#{mobile},#{avatar},#{status},#{add_time},#{update_time})
  </insert>

   <select id="getAccountById"  resultType="Account">
     SELECT * FROM da_user WHERE id = #{id}
  </select>

    <update id="updateLoginTime" parameterType="Account">
        UPDATE da_user SET last_login_time=#{last_login_time} WHERE id=#{id}
    </update>

    <insert id="insertSthdent" parameterType="Student">
        INSERT INTO da_student VALUES(#{userId},#{studentNumber},#{school},#{name})
    </insert>

    <select id="getStudentById" resultType="Student">
        SELECT * FROM da_student WHERE user_id=#{id}
    </select>

    <update id="updateMobile" parameterType="Account">
        UPDATE da_user SET mobile=#{mobile} WHERE id=#{id}
    </update>

    <update id="upfatePassword" parameterType="Account">
        UPDATE da_user SET password=#{password} WHERE id=#{id}
    </update>
</mapper>